{% extends "layout.html" %}
{% block body %}

<h2>{{ username }}'s Page</h2>
<br>

{% for entry in entries %}
<div class="entry">
    <a href="{{ url_for('instagrim.show_entry', id=entry.id) }}">
        <img src="{{ url_for('instagrim.image_file', filename=entry.imagefile) }}">
    </a>
    <p class="author"><b>{{ entry.username }}</b> - <i>{{ entry.date | ctime}}</i></p>

    <p>{{ entry.message }}</p>
</div>
{% else %}
<em>This user hasn't posted anything yet!</em>
{% endfor %}

{% endblock %}
